<div class="board">
	<h1>Board</h1>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th colspan="2"></th>
				<% (1..10).each do |n| %>
					<th><%= n %></th>
				<% end %>
				<th colspan="2"></th>
			</tr>
			<tr>
				<th colspan="2"></th>
				<% @fantasy_teams.each do |team| %>
					<th><%= team.owner %></th>
				<% end %>
				<th colspan="2"></th>
			</tr>
		</thead>
		<tbody>
			<% @rounds.each_with_index do |round, index| %>
				<% if index % 2 == 1 %>
					<% round = round.reverse %>
					<% symbol = '❮' %>
					<% klass = 'odd' %>
				<% else %>
					<% symbol = '❯' %>
					<% klass = 'even' %>
				<% end %>
				<tr class=<%= klass %>>
					<td><%= index + 1 %></td>
					<td class="arrow"><%= symbol %></td>
					<% round.each do |player| %>
						<% if player.picked? %>
							<td class="<%= player.position.downcase %> player picked"><%= player.name %></td>
						<% else %>
							<td class="<%= player.position.downcase %> player"><%= player.name %></td>	
						<% end %>
					<% end %>
					<% if round.count < 10 %>
						<% if index >= 16 %>
							<td colspan="<%= 10 - round.count %>"></td>	
						<% else %>
							<% (10 - round.count).times do |i| %>
								<td></td>
							<% end %>	
						<% end %>
					<% end %>
					<td class="arrow"><%= symbol %></td>
					<td><%= index + 1 %></td>
				</tr>
			<% end %>
			<% if @rounds.count < 16 %>
				<% ((@rounds.count)..15).each do |index| %>
					<% if index % 2 == 1 %>
						<% symbol = '❮' %>
						<% klass = 'odd' %>
					<% else %>
						<% symbol = '❯' %>
						<% klass = 'even' %>
					<% end %>
					<tr class=<%= klass %>>
						<td><%= index + 1%></td>
						<td class="arrow"><%= symbol %></td>
						<% (1..10).each do |i| %>
							<td></td>
						<% end %>
						<td class="arrow"><%= symbol %></td>
						<td><%= index + 1%></td>
					</tr>
				<% end %>
			<% end %>
		</tbody>
	</table>
</div>