<div class="positions">
	<div class="col-md-10 col-md-offset-1">
		<h1><%= @position %></h1>
		<table class="table table-bordered">
			<thead>
				<tr>
					<th>Rank</th>
					<th class="<%= "highlighted" if @adp_ffc %>"><a href="?rank=ffc">FFC</a></th>
					<th class="<%= "highlighted" if @adp_yahoo %>"><a href="?rank=yahoo">Yahoo</a></th>
					<th class="<%= "highlighted" if @adp_espn %>"><a href="?rank=espn">ESPN</a></th>
					<th>Player</th>
					<th>NFL Team</th>
					<th>Bye</th>
					<!-- <th>ADP</th> -->
					<th class="<%= "highlighted" if @points %>"><a href="?rank=points">Projected</a></th>
					<th>Owner</th>
				</tr>
			</thead>
			<tbody>
				<% @players.each_with_index do |player, index| %>
					<% if player.picked?(@league) %>
						<tr class="player picked 
						<%= player.position.downcase %>" 
						data-player="<%= player.id %>">
							<td><%= player.position_rank %></td>
							<td><%= player.adp_round %></td>
							<td><%= player.adp_espn %></td>
							<td><%= player.name %></td>
							<td><%= player.nfl_team.shortname %></td>
							<td><%= player.nfl_team.bye %></td>
							<!-- <td><%= player.adp_ffc %></td> -->
							<td><%= player.projected_points %></td>
							<td class="owner"><%= player.fantasy_team(@league).owner %></td>
						</tr>
					<% else %>
						<tr class="player unpicked 
						<%= player.position.downcase %>
						<%= 'limited' if @limited_positions.include?(player.position) %>" 
						data-player="<%= player.id %>">
							<td><%= player.position_rank %></td>
							<td><%= player.adp_round %></td>
							<td><%= player.adp_yahoo.to_i %></td>
							<td><%= player.adp_espn %></td>
							<td><%= player.name %></td>
							<td><%= player.nfl_team.shortname %></td>
							<td><%= player.nfl_team.bye %></td>
							<!-- <td><%= player.adp_ffc %></td> -->
							<td><%= player.projected_points %></td>
							<td class="owner"></td>
						</tr>
					<% end %>	
				<% end %>
			</tbody>
		</table>	
	</div>
</div>