<% last_in_round = pick_counter % @league.size == 0 %>
<button 
	type="button" 
	class="list-group-item 
	<%= pick.selected? ? "selected disabled" : "unselected" %>
	<%= "current" if pick == @current_pick %>
	<%= "last-in-round" if last_in_round %> 
	<%= "keeper" if pick.keeper %>" 
	data-pick-decimal="<%= pick.to_d %>">
		<span class="pick-number"><%= pick.to_d %></span>
		<% if pick.selected? %>
			<%= pick.nfl_player.name %>
			<span class="owner"><%= pick.fantasy_team.owner %></span>
		<% else %>
			<%= pick.fantasy_team.owner %>
		<% end %>
</button>