<table class="table table-bordered roster-table">
	<tbody>
		<tr>
			<td colspan="2" class="heading">Starters</td>
		</tr>
		<% @starters.each do |spot, players| %>
			<% slot = spot.split('|').first %>
			<% players.each do |player| %>
				<tr>
					<% if player %>
						<td class="<%= player.position.downcase %>"><%= slot %></td>
						<td class="<%= player.position.downcase %>"><%= player.name %></td>
					<% else %>
						<td class="<%= slot.downcase %>"><%= spot.split('|').first %></td>
						<td></td>
					<% end %>
				</tr>
			<% end %>
		<% end %>
	</tbody>
	<tbody>
		<tr>
			<td colspan="2" class="heading">Bench</td>
		</tr>
		<% ['QB', 'RB', 'WR', 'TE', 'DEF', 'K'].each do |position| %>
			<% @bench[position].each do |player| %>
				<tr>
					<td class="<%= position.downcase %>"><%= position %></td>
					<td class="<%= position.downcase %>"><%= player.name %></td>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>