<div class="fantasy-teams">
	<h1><%= @fantasy_team.owner %>'s Team</h1>

	<div class="col-md-4 col-md-offset-1">
		<h2>Picks</h2>
		<table class="table table-bordered picks-table">
			<thead>
				<th>Number</th>		
				<th>Round</th>
				<th>Player</th>
				<th>NFL Team</th>
			</thead>
			<tbody>
				<% @picks.each_with_index do |pick, i| %>
					<tr>
						<td><%= i + 1 %></td>
						<td><%= pick.to_d %></td>
						<% if pick.selected? %>
							<td class="<%= pick.nfl_player.position.downcase %>"><%= pick.nfl_player.name %></td>
							<td><%= pick.nfl_player.nfl_team.shortname %></td>
						<% else %>
							<td></td>
							<td></td>
						<% end %>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="col-md-4 col-md-offset-2">
		<h2>Roster</h2>
		<table class="table table-bordered roster-table">
			<tbody>
				<tr>
					<td colspan="2" class="heading">Starters</td>
				</tr>
				<tr>
					<td class="qb">QB</td>
					<% if @starters.key?('QB') %>
						<td class="qb"><%= @starters['QB'].name %></td>
					<% else %>
						<td></td>
					<% end %>
				</tr>
				<tr>
					<td class="rb">RB1</td>
					<% if @starters.key?('RB1') %>
						<td class="rb"><%= @starters['RB1'].name %></td>
					<% else %>
						<td></td>
					<% end %>
				</tr>
				<% if @starters.key?('RB2') %>
					<tr>
						<td class="rb">RB2</td>
						<td class="rb"><%= @starters['RB2'].name %></td>
					</tr>
				<% end %>
				<% if !@starters.key?('RB2') && !@starters.key?('WR3') %>
					<tr>
						<td>RB2/WR3</td>
						<td></td>
					</tr>
				<% end %>
				<tr>
					<td class="wr">WR1</td>
					<% if @starters.key?('WR1') %>
						<td class="wr"><%= @starters['WR1'].name %></td>
					<% else %>
						<td></td>
					<% end %>
				</tr>
				<tr>
					<td class="wr">WR2</td>
					<% if @starters.key?('WR2') %>
						<td class="wr"><%= @starters['WR2'].name %></td>
					<% else %>
						<td></td>
					<% end %>
				</tr>
				<% if @starters.key?('WR3') %>
					<tr>
						<td class="wr">WR3</td>
						<td class="wr"><%= @starters['WR3'].name %></td>
					</tr>
				<% end %>
				<tr>
					<td class="te">TE</td>
					<% if @starters.key?('TE') %>
						<td class="te"><%= @starters['TE'].name %></td>
					<% else %>
						<td></td>
					<% end %>
				</tr>
				<tr>
					<td class="def">DEF</td>
					<% if @starters.key?('DEF') %>
						<td class="def"><%= @starters['DEF'].name %></td>
					<% else %>
						<td></td>
					<% end %>
				</tr>
				<tr>
					<td class="k">K</td>
					<% if @starters.key?('K') %>
						<td class="k"><%= @starters['K'].name %></td>
					<% else %>
						<td></td>
					<% end %>
				</tr>
			</tbody>
			<tbody>
				<tr>
					<td colspan="2" class="heading">Bench</td>
				</tr>
				<% ['QB', 'RB', 'WR', 'TE', 'DEF', 'K'].each do |position| %>
					<% @bench[position].each do |player| %>
						<tr>
							<td class="<%= position.downcase %>"><%= position %></td>
							<td class="<%= position.downcase %>"><%= player.name %></td>
						</tr>
					<% end %>
				<% end %>
			</tbody>
		</table>
	</div>
</div>