<!DOCTYPE html>
<html>
<head>
  <title>Hymm2015</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">HYMM 2015</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Boards <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><%= link_to 'Draft', '/boards/draft' %></li>
          <li><%= link_to 'ADP', '/boards/adp' %></li>
          <li><%= link_to 'Points', '/boards/points' %></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Positions <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% @positions.each do |position| %>
            <li><%= link_to position, "/#{position}" %></li>
          <% end %>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Fantasy Teams <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <% @fantasy_teams.each do |team| %>
            <li><%= link_to team.owner, "/team/#{team.owner.downcase}" %></li>
          <% end %>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><form id="undo-form" action="/pick/undo" method="post"><%= token_tag %><button class="btn btn-danger navbar-btn undo" <%= "style=\"display: none\"".html_safe if @current_pick.to_d == '1.1' %>>Undo Last Pick</button></form></li>
    </ul>
    <% if @current_pick %>
      <p class="navbar-text navbar-right current-pick">Current Pick: <span class="decimal"><%= @current_pick.to_d %></span> <span class="owner"><%= @current_pick.fantasy_team.owner %></span></p>
    <% else %>
      <p class="navbar-text navbar-right current-pick">Draft Finished!</p>
    <% end %>
  </div>
</nav>

<!-- <div class="container"> -->
  <div class="col-md-2 sidebar">
    <div class="list-group draft-order">
      <% @draft_picks.each_with_index do |pick, index| %>
        <% if pick.selected? %>
          <button type="button" class="list-group-item disabled selected <%= "ten" if (index+1) % 10 == 0 %>" data-pick-decimal="<%= pick.to_d %>"><span class="pick-number"><%= pick.to_d %></span><%= pick.nfl_player.name %><span class="owner"><%= pick.fantasy_team.owner %></span></button>
        <% elsif pick == @current_pick %>
          <button type="button" class="list-group-item unselected current <%= "ten" if (index+1) % 10 == 0 %>" data-pick-decimal="<%= pick.to_d %>"><span class="pick-number"><%= pick.to_d %></span><%= pick.fantasy_team.owner %></button>
        <% else %>
          <button type="button" class="list-group-item unselected <%= "ten" if (index+1) % 10 == 0 %>" data-pick-decimal="<%= pick.to_d %>"><span class="pick-number"><%= pick.to_d %></span><%= pick.fantasy_team.owner %></button>
        <% end %>
      <% end %>      
    </div>
  </div>
	<div class="col-md-10 content">
    <%= flash_messages %>
    <%= yield %> 
  </div>
<!-- </div> -->

</body>
</html>
