<!DOCTYPE html>
<html>
<%= render 'shared/head' %>
<body>

<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">
		<div class="navbar-header">
			<%= link_to 'Draft Builder', root_path, {class: "navbar-brand" } %>
		</div>
		<div class="navbar-header">
			<span class="navbar-brand">|</span>
		</div>
		<% if action_name != 'new' %>
			<%= link_to 'New League', new_league_path, {class: "btn btn-primary navbar-btn"} %>
		<% end %>
	</div>
</nav>

<div class="container">
	<div class="col-md-12">
		<%= flash_messages %>
		<%= yield %>
	</div>
</div>

</body>
</html>
